<nav id="main_nav" class="dd affix">

    <div class="header">

        <a class="brand_img" href="{{ file.frontMatter.relative_nav_url }}index.html"><img src="{{ file.frontMatter.base_url }}{{ img_base_url }}/logo_white.svg" alt="Test Logo"></a>

        <button id="nav_hmbgr_btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <div class="body">
        <ul class="nav_right">
            <li><a href="{{ file.frontMatter.relative_nav_url }}index.html">Home</a></li>
            <li>
                <a href="#">Features &nbsp;<i class="caret"></i></a>
                <ul>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/color.html">Color Palette</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/forms.html">Forms - Base</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/forms_extended.html">Forms - Extended</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/wells.html">Wells &amp; Alerts</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/sidebars_affix.html">Affixed Sidebars</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/sidebars_offcanvas.html">Off-canvas Sidebars</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/navbar.html">Navbar</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/pagination.html">Pagination</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/tables_base.html">Tables - Base</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/tables_extended.html">Tables - Extended</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/grid.html">Grid</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}features/whitespace.html">Whitespace Utilities</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Interfaces &nbsp;<i class="caret"></i></a>
                <ul>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}interfaces/articles.html">Articles Browse</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}interfaces/article_view.html">Article View</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Layouts &nbsp;<i class="caret"></i></a>
                <ul>
                    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}layouts/one_full.html">One Full</a></li>

                    <li><a href="{{ file.frontMatter.relative_nav_url }}layouts/two_left_1.html">Two Left 1</a></li>
                    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}layouts/two_left_2.html">Two Left 2</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}layouts/two_right_1.html">Two Right 1</a></li>
                    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}layouts/two_right_2.html">Two Right 2</a></li>

                    <li><a href="{{ file.frontMatter.relative_nav_url }}layouts/three_left_1.html">Three Left 1</a></li>
                    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}layouts/three_left_2.html">Three Left 2</a></li>

                    <li><a href="{{ file.frontMatter.relative_nav_url }}layouts/three_right_1.html">Three Right 1</a></li>
                    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}layouts/three_right_2.html">Three Right 2</a></li>

                    <li><a href="{{ file.frontMatter.relative_nav_url }}layouts/three_wrapped_1.html">Three Wrapped 1</a></li>
                    <li><a href="{{ file.frontMatter.relative_nav_url }}layouts/three_wrapped_2.html">Three Wrapped 2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
