<h4>Layouts:</h4>

<ul>
    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}holygrail/one_full.html">One Full</a></li>

    <li><a href="{{ file.frontMatter.relative_nav_url }}holygrail/two_left_1.html">Two Left 1</a></li>
    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}holygrail/two_left_2.html">Two Left 2</a></li>
    <li><a href="{{ file.frontMatter.relative_nav_url }}holygrail/two_right_1.html">Two Right 1</a></li>
    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}holygrail/two_right_2.html">Two Right 2</a></li>

    <li><a href="{{ file.frontMatter.relative_nav_url }}holygrail/three_left_1.html">Three Left 1</a></li>
    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}holygrail/three_left_2.html">Three Left 2</a></li>

    <li><a href="{{ file.frontMatter.relative_nav_url }}holygrail/three_right_1.html">Three Right 1</a></li>
    <li class="divider_after"><a href="{{ file.frontMatter.relative_nav_url }}holygrail/three_right_2.html">Three Right 2</a></li>

    <li><a href="{{ file.frontMatter.relative_nav_url }}holygrail/three_wrapped_1.html">Three Wrapped 1</a></li>
    <li><a href="{{ file.frontMatter.relative_nav_url }}holygrail/three_wrapped_2.html">Three Wrapped 2</a></li>
</ul>