<h4>Site Variables</h4>

<div class="sitevars">

	<h5>Build Information:</h5>

	<table>
		<tr>
			<th>public_url</th>
			<td>{{ public_url }}</td>
		</tr>
		<tr>
			<th>public_domain</th>
			<td>{{ public_domain }}</td>
		</tr>
		<tr>
			<th>base_url</th>
			<td>{{ base_url }}</td>
		</tr>
		<tr>
			<th>bower_components</th>
			<td>{{ bower_components }}</td>
		</tr>
		<tr>
			<th>build_dir</th>
			<td>{{ build_dir }}</td>
		</tr>
		<tr>
			<th>build_html</th>
			<td>{{ build_html }}</td>
		</tr>
		<tr>
			<th>sass_sourcemap_relative_dir&nbsp;</th>
			<td>{{ sass_sourcemap_relative_dir }}</td>
		</tr>
	</table>

	<h5>Assets:</h5>

	<table>
		<tr>
			<th>js_assets</th>
			<td>{{ js_assets }}</td>
		</tr>
		<tr>
			<th>css_assets</th>
			<td>{{ css_assets }}</td>
		</tr>
		<tr>
			<th>font_assets</th>
			<td>{{ font_assets }}</td>
		</tr>
		<tr>
			<th>img_assets</th>
			<td>{{ img_assets }}</td>
		</tr>
		<tr>
			<th>sass_assets</th>
			<td>{{ sass_assets }}</td>
		</tr>
	</table>

	<h5>Vendor Assets:</h5>

	<table>
		<tr>
			<th>js_vendor</th>
			<td>{{ js_vendor }}</td>
		</tr>
		<tr>
			<th>css_vendor</th>
			<td>{{ css_vendor }}</td>
		</tr>
		<tr>
			<th>font_vendor</th>
			<td>{{ font_vendor }}</td>
		</tr>
		<tr>
			<th>img_vendor</th>
			<td>{{ img_vendor }}</td>
		</tr>
		<tr>
			<th>sass_vendor</th>
			<td>{{ sass_vendor }}</td>
		</tr>
	</table>

	<h5>Asset Base URLs:</h5>

	<table>
		<tr>
			<th>js_base_url</th>
			<td>{{ js_base_url }}</td>
		</tr>
		<tr>
			<th>js_files</th>
			<td>{{ js_files }}</td>
		</tr>
		<tr>
			<th>css_base_url</th>
			<td>{{ css_base_url }}</td>
		</tr>
		<tr>
			<th>font_base_url</th>
			<td>{{ font_base_url }}</td>
		</tr>
		<tr>
			<th>img_base_url</th>
			<td>{{ img_base_url }}</td>
		</tr>
	</table>
</div>
